# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# vim
*~
*.swp

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# ctags
tags

# pymode
.ropeproject/
